h1{
	text-align: center;
}
p{align-content: left;
padding: 5%}


H4{
	text-align: right;
	padding-right: 20%;
	background-color: #D4D4FF;
	border: solid;
	width: 30%;
	float: right;
	margin: -3px;
}

.Column1, .Column2, .Column3 {
	width: 31.3%;
	background-color: #D4AAFF;
	margin-left: 1%;
	margin-bottom: 3%;
	float: left;
	border: solid;

}

@media(max-width: 768px){
.Column1, .Column2 {
	width: 48%;
	float: left;
}

.Column3{
	width: 99%;
}

@media(min-width: 768px){
.Column1, .Column2,.Column3 {
	width: 100%;
	float: left;
}
@media(max-width: 992px){
.Column1, .Column2,.Column3 {
	width: 100%;
	float: left;
}